html {
<<<<<<< HEAD
    scroll-behavior: smooth;
  }
  
  h2 {
    position:absolute;
    font-size:200%;
    color:RED;
    font-weight: bold;
    text-decoration:none;
    text-align:center;
    width:100%;
  }
  
  p {
    color: white;
    font-size: 18px;
    text-decoration: none;
    text-align: left;
    font-style: italic;
  }
  
  h4 {
    color: white;
    font-size: 12px;
    text-decoration: none;
    text-align: center;
    font-style: italic;
  }
  
  h3 {
    color: black;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 36px;
  }
  
  /* Homepage Background */
  .homepage {
    background-color: #d8b2ab;
    height: 100vh;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment: fixed;
  }
  
  #mapDossier {
    height: 450px;
    width: 800px;
    top: 75px;
    left: 25px;
  }
  
  #brandDoessier {
    height: 450px;
    width: 800px;
  
  }
  
  .content0 {
    height: 10vh;
    padding-top: 10px;
    background-color: #9ebcd8;
    font-size: 36px;
  }
  
  .lite {
    background-color: #white;
    height: 10px;
    width: 100%;
  }
  
  .content1 {
    position: absolute;
    top: 75px;
    right: 50px;
    width: 300px;
    height: 450px;
    background-color: #9ebcd8;
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  /* Navigation Bar */
  #navbar {
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  #navbar a {
    float: left;
    display: block;
    color: rgb(253, 229, 229);
    text-align: center;
    padding: 2vh 5vh;
    text-decoration: none;
    font-size: 90%;
    font-weight: bold;
  }
  
  #navbar a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: black;
    text-decoration: none;
    outline: none;
  }
  
=======
  scroll-behavior: smooth;
}

h2 {
  position:absolute;
  font-size:200%;
  color:RED;
  font-weight: bold;
  text-decoration:none;
  text-align:center;
  width:100%;
}

p {
  color: white;
  font-size: 18px;
  text-decoration: none;
  text-align: left;
  font-style: italic;
}

h4 {
  color: white;
  font-size: 12px;
  text-decoration: none;
  text-align: center;
  font-style: italic;
}

h3 {
  color: black;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  font-size: 36px;
}

/* Homepage Background */
.homepage {
  background-color: #ded3d1;
  height: 100vh;
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
  background-attachment: fixed;
}

#mapDossier {
  height: 450px;
  width: 800px;
  top: 75px;
  left: 25px;
}

#brandDoessier {
  height: 450px;
  width: 800px;

}

.content0 {
  height: 10vh;
  padding-top: 10px;
  background-color: #9ebcd8;
  font-size: 36px;
}

.lite {
  background-color: #white;
  height: 10px;
  width: 100%;
}

.content1 {
  position: absolute;
  top: 75px;
  right: 50px;
  width: 300px;
  height: 450px;
  background-color: #9ebcd8;
  padding-top: 50px;
  padding-left: 15px;
  padding-right: 15px;
}

/* Navigation Bar */
#navbar {
  overflow: hidden;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
}

#navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 2vh 5vh;
  text-decoration: none;
  font-size: 90%;
  font-weight: bold;
}

#navbar a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: black;
  text-decoration: none;
  outline: none;
}
<<<<<<< HEAD

.ml1 {
  font-weight: 900;
  font-size: 3.5em;
}

.ml1 .letter {
  display: inline-block;
  line-height: 1em;
}

.ml1 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml1 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #fff;
  transform-origin: 0 0;
}

.ml1 .line1 { top: 0; }
.ml1 .line2 { bottom: 0; }
=======
>>>>>>> 7a35fc7ad7e7555647b3626fb1bdda21e01bbcd9
>>>>>>> 52bfd86bbfbde96a67f46de5cd68f8ed923f2e58
